* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

/* ACCORDION */

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  cursor: pointer;
}

.accordion-title:hover {
  background-color: rgb(190, 190, 190);
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-name {
  margin-left: 10px;
}

.accordion-content {
  background-color: #e7e7e7;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}

/* HEADERBOX */

.headerbox {
  border: solid black 3px;
  padding: 2px;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.headerbox-nameline {
  display: flex;
}

.headerbox-plus {
  margin-left: 15px;
  margin-right: 15px;
}

/* CONTACT */

.contactbox {
  display: flex;
  justify-content: space-evenly;
}

.contactbox a {
  color: inherit;
  text-decoration: none;
}